body, h1, h2, h3, h4, p, a {
  font-size: 100%;
  font-weight: normal;
}

body {
  font-family: 'Open Sans', 'Inter', sans-serif;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff');
  src: url('../fonts/OpenSans-Regular.woff2');
  src: url('../fonts/OpenSans-Regular.ttf');
  src: url('../fonts/OpenSans-Bold.ttf');
  src: url('../fonts/OpenSans-Bold.woff');
  src: url('../fonts/OpenSans-Bold.woff2');
  font-weight: 400;
  font-style: normal;
}

.link {
  text-decoration:none;
  color:inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.Bold {
  font-weight: 700;
}

.purple {
  background-color: #573fae;
}

.welcome {
  width: 100%;
  background-color: #000;
  background-image: url("../img/football_1920.jpg");
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.welcome::after  {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #131537;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 140px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}

.button {
  width: 100%;
  border-radius: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  border: none;
  position: relative;
}

.button:nth-child(odd) {
  margin-left: 0;
}

.header_container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px 50px;
  position: relative;
  z-index: 2;
}

.image {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.title_absolute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4.2rem;
  height: 4.2rem;
  background-color: #573fae;
  text-align: center;
  position: absolute;
}


.footer {
  width: 100%;
  background-color: #000;
  background-image: url("../img/game_1920.jpg");
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.footer::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #131537;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.footer_container {
  position: relative;
  padding: 0 20px;
  z-index: 3;
}

.footer_logo {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.footer_container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #503ba3;
  border-radius: 20px;
}

.footer_svg__logo {
  display: block;
  width: 3.7rem;
  height: 3.7rem;

}

  .header_title {
    margin-bottom: 3em;
    margin-top: 4.5em;
    font-size: 28px;
  }

  .title_welcome {
    display: flex;
    flex-direction: column;
  }

  .second_title {
    display: block;
    width: 75%;
    align-self: flex-end;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin-bottom: 1em;
  }


  .div_svg {
    margin-right: 5px;
  }

  .svg {
    width: 25px;
    height: 25px;
    fill: #fff;
  }

  .button_p__context {
    text-align: left;
    font-size: 8px;
    color: #fff;
  }

  .main_title {
    font-size: 50px;
    color: #e7e7e7;
    padding: 25px 20px;
  }



   .section_title {
     display: flex;
   }

  .section_title__color {
    color: #c0c0c0;
    font-size: 23px;
  }

  .span_block {
    display: block;
  }

  .title_article {
    display: flex;
    margin-bottom: 25px;
    vertical-align: top;
    align-items: center;
  }

  .title_number {
    color: #fff;
  }

  .title_after {
    margin-right: 10px;
    font-size: 14px;
    color: #000;
  }

  .title_after::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    border: 2px solid #573fae;
  }


  .article {
    padding: 60px 20px;
  }

  .article_1 {
    background-color: #fafafa;
  }

  .article_2 {
    background-color: #f4f4f9;
  }

  .article_3 {
    background-color: #573fae;

  }

  .title_after__color::after {
    border: 2px solid #8a79c6;
  }


  .title_absolute {
    top: -400%;
  }

  .title_relative {
    position: relative;
  }

  .footer_title__h1 {
    font-size: 32px;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
  }

  .footer_title__p {
    font-size: 14px;
    text-align: center;
    color: #968bbf;
  }

  .footer_title__container {
    margin-bottom: 75px;
  }

  /*Абсолютное выравниевание картинок футболиста и баскеталиста*/

  .div_picture__relative {
    position: relative;
    margin-bottom: 65%;
  }

      .picture_absolute {
        position: absolute;
        width: 50%;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
      }

      .picture_absolute__2 {
        width: 90%;
      }

@media (min-width: 319px) and (max-width: 370px) {

    .header_title {
      margin-top: 2.2em;
    }

    .second_title {
      width: 80%;
    }
}

  @media (min-width: 371px) and (max-width: 640px) {

    .welcome {
      height: 100vh;
      background-image: url("../img/football_767.jpg");
    }

    .footer {
      background-image: url("../img/game_767.jpg");
    }

     .div_picture__relative {
       width: 100vw;
       margin-bottom: 57%;
     }

  }

  @media (min-width: 641px) and (max-width: 960px) {

    .welcome {
      background-image: url("../img/football_1280.jpg");
    }

    .footer {
      background-image: url("../img/game_1280.jpg");
    }

    .header_container {
      min-width: 641px;
      max-width: 720px;
    }

    .header_title {
      font-size: 62px;
      margin-top: 2em;
    }

    .buttons {
      flex-direction: row;
      padding: 0 20px;
    }

    .button {
      width: calc(100%/2 - 2.5em);
      margin-right: 2.5em;
      padding: 10px 0;
    }



    .button:last-child {
      margin-right: 0;
    }

    .button_p__context {
      font-size: 14px;
    }

    .svg {
      width: 30px;
      height: 30px;
      margin-right: 1em;
    }

    .title_absolute {
      top: -350%;
    }

    .title_article {
      font-size: 32px;
    }

    .span_block {
      font-size: 18px;
    }

    div>p {
      font-size: 18px;
    }
  }

@media (min-width: 641px) and (max-width: 960px), (min-width: 961px) and (max-width:1920px) {

  .div_picture__relative {
    margin-bottom: 0;
  }

  .picture_absolute {
    width: 90%;
    height: auto;
    top: -100px;

    left: -62%;
  }

  .picture_absolute__2 {
    width: 100%;
    height: auto;

    top: -150px;
    left: 34%;

  }

  .article {
    display: flex;
    justify-content: flex-end;
  }

  .div_article__container {
    width: 60%;
  }


  .main_title {
    width: 60%;
    padding-left: 0;
    font-size: 80px;
  }


  .title_athlets {
    justify-content: flex-end;
  }

  .title_players {
    justify-content: flex-start;
    padding-left: 20px;
  }

  .article_flex_start {
    justify-content: flex-start;
  }

}



  @media (min-width: 961px) and (max-width:1920px), (min-width: 1920px;) {

    .welcome {
      background-image: url("../img/football_1920.jpg");
    }

    .footer {
      background-image: url("../img/game_1920.jpg");
    }

    .header_container, .footer_container {
      min-width: 980px;
      max-width: 1400px;
      margin: 0 auto;
    }

    .buttons {
      flex-direction: row;
      margin-bottom: 2.5em;

    }

    .button {
      width: 20%;
      margin-left: 2.5rem;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 14px;
    }

     .button_p__context {
       font-size: 1em;
     }

     .header_title {
       font-size: 5.5em;
       margin-top: 5%;
       margin-bottom: 5%;
     }

     .picture_absolute {
       width: 33%;
     }

     .picture_absolute__2 {
       width: 65%;
       top: -180px;
     }

     .section_articles {
       display: flex;
       flex-wrap: wrap;
     }

      .section_order {
       order: 2;
     }

     .div_section__part {
       width: 50%;
     }

     .title_absolute {
       margin: auto;

       top: 0;
       left: -20%;
     }

     .title_absolute__2 {
       left: 102%;
     }

     .article_container {
       display: flex;
       flex-direction: column;
       margin: auto;
       padding: 1.7rem;
     }

     .footer {
       padding-top: 5%;
     }

     .footer_title__h1 {
       font-size: 80px;
       margin-bottom: 0.1em;
     }

     .footer_title__p {
       font-size: 30px;
     }

     .footer_container_desktop {
       max-width: 1200px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 5%;
     }

     .footer_container__logo {
       width: 140px;
       height: 140px;
     }

     .footer_title__container {
       margin-bottom: 0;
       margin-left: 2%;
     }

     .footer_svg__logo {
       width: 80%;
       height: 80%;
     }
}
